/* center container with CSS */
.grid {
  margin: 0 auto;
}

.grid-item {
  display: block;
  float: left;
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
  overflow: hidden;
  background-size: cover;
  background-position: center 40%;
    &:before {
      content: "";
      transition: .3s;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0);
    }
    &:hover {
      &:before {
        opacity: 1;
        background-color: rgba(0, 0, 0, .5);
      }
      .title, .tags {
        opacity: 1;
      }
    }
}

.grid-item .title {
  color: white;
  opacity: 0;
  transition: .2s;
  position: absolute;
  font-size: 1.5em;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grid-item .tags {
  color: white;
  opacity: 0;
  transition: .2s;
  position: absolute;
  bottom: 0;
  padding-left: 5px;
  padding-bottom: 3px;
}

.badge {
  background-color: red;
  border-radius: 5px;
  padding: 3px;
  line-height: 1.9em;
}

.post-content {
  white-space: pre;
}