---
layout: default
---

<div class="home">

  {{ content }}

  <div class="grid">
    {% for recipe in site.recipes %}
      <a class="grid-item" href="{{ recipe.url | relative_url }}" style="background-image: url({{ recipe.image }})">
        <span class="text">{{ recipe.title | escape }}</span>
      </a>
    {% endfor %}
  </div>

</div> <!-- div.home -->

<script>
  $('.grid').isotope({
    // options
    itemSelector: '.grid-item',
    layoutMode: 'masonry',
    masonry: {
      // We recommend setting columnWidth.If columnWidth is not set, Isotope will use the outer width of the first item.
      //columnWidth: 250
      gutter: 10,
      fitWidth: true
    }
  });
</script>